// Category List Component //
@import 'variables';

.bookmarklist {
    font-family: 'Abel', sans-serif;
    text-align: left;
    color: black;
    flex: 1 1 0;
    display: flex;
    flex-flow: column;
}

.listcontainer {
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    display: flex;
    margin-top: 10px;
}