// Search Component //
@import 'variables';

.search {
    font-family: 'Abel', sans-serif;
    text-align: left;
    color: black;
    padding: 10px;
    flex: 1 1 0;
    display: flex;
    flex-flow: column;
}

.clearbtn {
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 0 0 0 0;
    transition: all ease-in-out 0.3s;
    float: right;
    margin-top: -35px;
    z-index: 1;
    position: relative;
}

.clearbtnicon {
    width: 20px;
    height: 20px;
    fill: $lte-grey;

    &:hover {
        fill: $aucdblue;
        cursor: pointer;
    }
}